{% extends 'layout.twig' %}

{% block body %}
  <h1></h1>
  <p>{{ team }}</p>
  <ul>
    {% for team in something %}

         <li><a href="/admin/edit/">{{team.name}}</a> : {{team.score}}</li>

     {% endfor %}
   </ul>
{% endblock %}
