{% extends 'layout.twig' %}

{% block body %}
  <h1>Admin Page</h1>

  <ul>
    <li><a href="/admin/create/">Add New Team</a>
    {% for team in teams %}

         <li><a href="/admin/edit/{{loop.index0}}">Edit:{{team.name}}</a></li>

     {% endfor %}
   </ul>
   <a href="..">Score Board</a>
{% endblock %}
