{% extends 'layout.twig' %}

{% block body %}
<h1>Edit Page for :{{team.name}}</h1>
  <form method="post" id="frm1" action="/admin/edit/{{team.id}}/score">
             <select name="game">{% for game in games %}
              <option value="{{game.id}}">{{game.name}}</option>
             {% endfor %}</select>
              Score: <input type="text" name="score">
              <input type="Submit" value="Submit">
  </form>
<a href="..">Admin Page</a>
{% endblock %}
