{% extends 'layout.twig' %}

{% block body %}
  <h1>Tech Frederick Games</h1>

  <ul>
    {% for team in teams %}

         <li><a href="/teams/{{team.id}}">{{team.name}}</a> Total Score:{{team.score}}</li>

     {% endfor %}
   </ul>
{% endblock %}
