<!DOCTYPE html>
<html>
  <head>
    <title>Tech Frederick Games 2018</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<div class="container">
  		<img src="/images/headlogo_01.svg">
    	{% block body %}{% endblock %}
    </div>
  </body>
</html>
