body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.container {
	width: 480px;
	margin: auto;
}

img {
	height: 100px;
}

h1 {
	color: #A4D65E;
	margin-bottom: 0;
}

ul {
	margin: 5px 0 10px 0;
	padding-left: 20px;
}

li {
	list-style: none;
	line-height: 2em;
}